.businessCards {
  position: absolute;
  bottom: 5%;
  left: 5%;
  transform: rotate(8deg);
}

.businessCard {
  width: 200px;
  height: 120px;
  background-color: var(--color-white);
  border-radius: var(--radius-md);
  padding: var(--spacing-md);
  color: var(--color-black);
}

.cardHeader {
  font-size: 1.1rem;
  font-weight: 900;
  margin-bottom: var(--spacing-sm);
}

.cardSubtext {
  font-size: 0.8rem;
  font-weight: 500;
}
